@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth transition for all elements when theme changes */
*, *::before, *::after {
  transition-property: color, background-color, border-color, fill, stroke;
  transition-timing-function: ease;
  transition-duration: 300ms;
}
